{% extends "layout.html" %}

{% block main %}
<div class="container-lg fade-in">
    <div class="py-2 pb-5">
        <h1 class="display-3">You are a <b>Ball Chaser</b></h1>
    </div>
    <div class="pt-5">
        <h1 class="h3">Here are the mechanics and skills that will benefit you the most.</h1>
    </div>
    <div class="row justify-content-center">
        
        
        <div class="col-4">
            <div class="list-group py-3">
                <a href="https://miraclewhiff.com/Mechanics/Gold/Powerslide.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Powerslide</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/wavedashing.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Wave-Dashing</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/FastAerials.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Fast Aerials</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/50.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">50/50's</a>
        
                <a href="https://miraclewhiff.com/Mechanics/GrandChamp/SpeedFlips.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Speedflip Kickoff</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/HookShot.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Hook-Shots</a>
                <a href="https://miraclewhiff.com/Mechanics/Diamond/Air-RollShots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Air-Roll Shots</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Wallshots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Wall Shots</a>
        
                <a href="https://miraclewhiff.com/Mechanics/SSL/WallDashing.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Wall-Dashing</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Catching.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Catching</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/Demos.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Demos</a>
                
                <a href="https://youtu.be/NBQCfgr9h2Q" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Video #1</a>
            </div>
        </div>
        
        
        <div class="col-4">
            <div class="list-group py-3">
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Recoverys.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Recoveries</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Half-Flipping.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Half-Flipping</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/ShotAccuracy.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Shot Accuracy</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Powerslide-Cuts.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Powerslide-Cuts</a>
                
                <a href="https://miraclewhiff.com/Mechanics/Platinum/BoostManagement.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Boost Management</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/PowerShots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Powershot</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/AirDribbling.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Air-Dribbles</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/Dribbling.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Dribbling</a>
        
                <a href="https://miraclewhiff.com/Other/OtherMechanics.html#chaindashing" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Chain-Dashing</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/Dish.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Dishing</a>
                <a href="https://www.youtube.com/watch?v=btrHGpfGYuU&pp=ygUSaG93IHRvIGFpciByb2xsIHJs" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Air-Roll</a>
                
                <a href="https://youtu.be/6oBCPt0B09I" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Video #2</a>
            </div>
        </div>
        
        <div class="pt-5">
            <h1 class="h3">For a Ball Chaser, knowing how to do advanced mechanics are very useful.</h1>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="list-group py-3">
                    <a href="https://miraclewhiff.com/Mechanics/Champ/Flicking.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Flicking</a>
                    <a href="https://miraclewhiff.com/Mechanics/Champ/WallStops.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Wall Stops</a>
                    <a href="https://miraclewhiff.com/Mechanics/GrandChamp/DribbleToAir.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Ground Dribble to Air Dribble</a>
                    <a href="https://miraclewhiff.com/Mechanics/Champ/DoubleTouches.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Double Taps</a>
                    <a href="https://miraclewhiff.com/Mechanics/Champ/CeilingShots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Ceiling Shots</a>
                    <a href="https://miraclewhiff.com/Mechanics/GrandChamp/FlipResets.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Flip Resets</a>
                </div>
            </div>
        </div>
        

        <div class="pt-5">
            <h1 class="h5">The best way to defend for this type of playstyle, is to wait for the ball to be away from the opponent's reach, and then challenge.</h1>
        </div>
        
        <div class="py-3 row justify-content-center">
            <div class="d-flex justify-content-center align-items-center gap-1">
                <button class="btn btn-secondary border-warning " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    How does this work?
                </button>
            </div>
            <div class="py-2 row justify-content-center">
                <div class="collapse col-4" id="collapseExample">
                    <div class="card card-body bg-secondary">
                        The list goes from most essential to useful mechanics.
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}