{% extends "layout.html" %}

{% block main %}

    <form action="/login" method="post" class="fade-in">
        <div>
            <div class="mb-3">
                <input autofocus class="form-control mx-auto w-auto border-warning" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto border-warning" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-secondary border-warning" type="submit">Log In</button>
        </div>
    </form>
    <div class="my-5" style="height: 200px;"></div>
{% endblock %}