{% extends "layout.html" %}

{% block main %}

<div class="container-lg fade-in">
    <div class="py-2 pb-5">
        <h1 class="display-3">You currently haven't uploaded a replay</h1>
    </div>
    <div class="my-1 pb-5 row justify-content-center">
        <div class="col-6-lg">
            <h1 class="display-5">Go to the <a href="/" class="text-light text-decoration-none fw-semibold">home</a> page to find your playstyle!</h1>
        </div>
    </div>
    <img src="/static/rocket-league.png" alt="rl picture" class="img-fluid">
</div>

{% endblock %}