{% extends "layout.html" %}

{% block main %}
<div class="container-lg fade-in">
    <div class="py-2 pb-5">
        <h1 class="display-3">You are a <b>Passer</b></h1>
    </div>
    <div class="pt-5">
        <h1 class="h3">Here are the mechanics and skills that will benefit you the most.</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="list-group py-3">
                <a href="https://miraclewhiff.com/Mechanics/Gold/Powerslide.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Powerslide</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/FastAerials.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Fast Aerials</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Half-Flipping.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Half-Flipping</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Awareness.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Opponent Awareness</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/50.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">50/50's</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/PushDribbling.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Push-Dribbling</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Wallshots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Wall Shots</a>
                <a href="https://miraclewhiff.com/Mechanics/Diamond/Air-RollShots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Air-Roll Shots</a>
                <a href="https://miraclewhiff.com/Mechanics/Diamond/Pinching.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Pinching</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/BackboardClears.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Backboard Clearing</a>
                <a href="https://youtu.be/tNTWo1mZpKg" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Video #1</a>
            </div>
        </div>
        <div class="col-4">
            <div class="list-group py-3">
                <a href="https://miraclewhiff.com/Mechanics/Platinum/Recoverys.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Recoveries</a>
                <a href="https://miraclewhiff.com/Mechanics/Gold/ShotAccuracy.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Shot Accuracy</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/wavedashing.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Wave-Dashing</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/ShadowDefence.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-success border-secondary">Shadow Defence</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/TeammateAwareness.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Teammate Awareness</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/HookShot.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Hook-Shots</a>
                <a href="https://miraclewhiff.com/Mechanics/Platinum/PowerShots.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Powershot</a>
                <a href="https://miraclewhiff.com/Mechanics/Champ/Redirects.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-warning border-secondary">Redirects</a>
                <a href="https://miraclewhiff.com/Mechanics/GrandChamp/Prejumping.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Pre-Jumping</a>
                <a href="https://miraclewhiff.com/Mechanics/GrandChamp/SpeedFlips.html" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-danger border-secondary">Speedflip Kickoff</a>
                <a href="https://youtu.be/ypIZtRtL1d0" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-secondary text-light border-warning">Video #2</a>
            </div>
        </div>
    </div>
    

        <div class="pt-5">
            <h1 class="h5">For this playstyle its a lot better if you play more passive.</h1>
        </div>
        
        <div class="py-3 pt-5 row justify-content-center">
            <div class="d-flex justify-content-center align-items-center gap-1">
                <button class="btn btn-secondary border-warning " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    How does this work?
                </button>
            </div>
            <div class="py-2 row justify-content-center">
                <div class="collapse col-4" id="collapseExample">
                    <div class="card card-body bg-secondary">
                        The list goes from most essential to useful mechanics.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}